header {
  /* width: 90%; */
  height: 100px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: rgb(158, 145, 135);
}
nav {
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: rgb(2, 0, 0);
  font-size: 25px;
}
.login-form-cotainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.login-form input {
  margin-top: 10px;
}
